{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Assure que le body et html occupent toute la hauteur */
        html, body {
            height: 100%;
            margin: 0;
        }

        /* Le contenu principal prend tout l'espace avant le footer */
        .content {
            flex: 1;
        }

        /* Footer qui reste en bas uniquement pour cette page */
        footer {
            background-color: #222;
            color: white;
            text-align: center;
            padding: 15px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
{% endblock %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h1>Lieu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.adresse }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
                <td>
                    <a href="{{ path('app_lieu_show', {'id': lieu.id}) }}">show</a>
                    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lieu_new') }}">Create new</a>
{% endblock %}
