{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>{{ lieu.adresse }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ lieu.adresse }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lieu_index') }}">Retour à la liste</a>

    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Modifier</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
