{% extends 'base.html.twig' %}

{% block title %}Edition index{% endblock %}

{% block body %}
    <h1>Edition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Siteweb</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td>{{ edition.id }}</td>
                <td>{{ edition.nom }}</td>
                <td>{{ edition.siteweb }}</td>
                <td>{{ edition.info }}</td>
                <td>
                    <a href="{{ path('app_edition_show', {'id': edition.id}) }}">Voir</a>
                    <a href="{{ path('app_edition_edit', {'id': edition.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">“pas d’entrees trouvees</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_edition_new') }}">Nouveau</a>
{% endblock %}
